@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

body{
    margin: 0;
    padding: 0;
    background-image: url('../img/background.png');
    background-attachment: fixed;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    background-color: rgba(250, 250, 250, 0.027);
    width: auto;
    height: 100vh;
    padding: 1px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.158);
    top: 1;
    z-index: 1;
}
#profile-image{
    filter: drop-shadow(0px 0px 8px rgb(15, 15, 15));
    margin: 20px; 
}
h1{
    color: white;
    text-shadow: 1.5px 1.5px 7px rgb(0, 0, 0);
}
.social-networks{
    bottom: 2rem;
    width: 74%;
    display: flex;
    justify-content: space-evenly;
}
.social-networks a{
    text-decoration: none;
}
.social-networks i {
    background-color: white;
    color: rgb(0, 0, 0);
    height: 4rem;
    width: 4rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 8px rgb(15, 15, 15));
    transition: background-color 350ms;
}
.social-networks i:hover {
    background-color: #62CAE1;
}
#download-file {
    width: auto;
    height: auto;
    padding: 10px 10px;
    margin: 21.44px 0px;
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: 'Josefin Sans', sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 5px;
    border: 2px;

    background-color: rgba(255, 255, 255, 0.048);
    color: white;
    border-style: dashed ;
    border-color: 1px white;
    transition: color 350ms;
    filter: drop-shadow(0px 0px 8px rgb(15, 15, 15));
    transition: filter 350ms;
    
}
#download-file i,a{
    margin-top:-2px;
    font-size: 1.5rem;
    text-decoration: none;
}
#download-file:hover{
    cursor: pointer;
    filter: none;
    border-color: #62CAE1;
    color: #62CAE1;
    transition: 350ms ease-in-out;
}
.menu-item, ul{
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu-item,  #menu-item{
    color: white;
    padding: 0 7px;
}
.menu-item,  #menu-item:hover{
    color: #62CAE1;
    transition: 350ms ease-in-out;
}

#about-me{
    background-color: red;
    margin: 70px 0px 0px 80px;
    padding: 30px;
    width: 80%;
    display: flex;
    font-size: 26px;
}